.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    text-align: center;
    padding: 10px 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
  }
  