<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 my-auto">
        <p class="mb-0 text-center text-md-left">
          &copy; 2023 LearningHub. Unlocking Knowledge, Empowering Minds.
        </p>
      </div>
      <div class="col-md-6 my-auto">
        <ul class="list-inline text-center text-md-right mb-0">
          <li class="list-inline-item">
            <a [routerLink]="['aboutus']" class="footer-link">About Us</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</footer>

