.page-header {
  text-align: center;
  margin: 25px auto; /* Added auto to horizontally center the header */
  padding: 20px;
  color: var(--color1); /* Deep Twilight Blue text */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px; /* Reduce the maximum width */
}

.page-header h1 {
  font-size: 2.5rem; /* Slightly larger font size for main heading */
  margin-bottom: 0.5rem; /* Adjusted spacing below the heading */
}

.page-header p {
  font-style: italic;
  font-size: 1.2rem;  
  margin-bottom: 25px;
}

.custom-dark-list {
  background-color: var(--color2); /* Soft Periwinkle Blue background */
  color: #ffffff;
  padding: 15px;
  max-width: 700px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Consistent shadow with the header */
}

.custom-dark-list-item {
  background-color: var(--color2); /* Soft Periwinkle Blue background */
  border: 1px solid #ffffff;
  margin-bottom: 10px;
  padding: 15px;
  transition: background-color 0.3s;
  border-radius: 8px;
}

.custom-dark-list-item:hover {
  background-color: var(--color3); /* Light Lavender background on hover */
}

.progress {
  background-color: #ddd;
  border-radius: 5px;
  max-width: 90%;
  margin: 20px auto; /* Centered with vertical margin */
}

.progress-bar {
  background-color: var(--color1); /* Light Lavender for progress bar */
  height: 100%;
  border-radius: 5px;
  transition: width 0.5s ease-in-out;
}
