<div class="page-header">
  <h1>{{ roadmapName }} Roadmap</h1>
  <p>Embark on a journey of continuous learning and growth!</p>
  <!-- Progress bar container -->
  <div class="progress">
    <div class="progress-bar progress-bar-info" role="progressbar" 
         [attr.aria-valuenow]="roadmapProgress" aria-valuemin="0" aria-valuemax="100" 
         [style.width]="roadmapProgress + '%'">
      {{ roadmapProgress }}% Complete 
    </div>
  </div>
</div>

<div class="custom-dark-list">
  <app-milestone *ngFor="let milestone of milestones" [milestone]="milestone"></app-milestone>
</div>
