<div>
    <form #addRoadmapForm="ngForm">
        <label for="id"> id :</label>
        <input id 
            required 
            type="text" 
            [(ngModel)]="roadmap.id" 
            name="id"
            class="form-control"
            id="id"
            #id="ngModel">
        <div class="alert alert-danger" *ngIf="!id.valid && id.touched">
            le id est obligatoire
        </div>

        <label for="title"> title :</label>
        <input title 
            required 
            type="text" 
            [(ngModel)]="roadmap.title" 
            name="title"
            class="form-control"
            id="title"
            #title="ngModel">
        <div class="alert alert-danger" *ngIf="!title.valid && title.touched">
            le title est obligatoire
        </div>

        <label for="domain"> domain :</label>
        <input domain 
            required 
            type="text" 
            [(ngModel)]="roadmap.domain" 
            name="domain"
            class="form-control"
            id="domain"
            #domain="ngModel">
        <div class="alert alert-danger" *ngIf="!domain.valid && domain.touched">
            le domain est obligatoire
        </div>
        <label for="description"> description :</label>
        <input description 
            required 
            type="text" 
            [(ngModel)]="roadmap.description" 
            name="description"
            class="form-control"
            id="description"
            #description="ngModel">
        <div class="alert alert-danger" *ngIf="!description.valid && description.touched">
            le description est obligatoire
        </div>
        
        <button [disabled]="addRoadmapForm.invalid" class="btn btn-primary" (click)="addRoadmap()"> addRoadmap </button>
    </form>
</div>