html {
  height: auto; /* Set to auto to allow the body to be the main flex container */
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; 
  min-height: 100vh; /* Ensure the body takes at least the full height of the viewport */
  background-color: var(--color4); /* Very Pale Lilac background */
}

app-navbar {
  flex-shrink: 0; /* Navbar should not shrink */
}

app-homedescription {
  flex-grow: 1; /* This will make the main content grow to push the footer down */
}

app-footer {
  flex-shrink: 0; /* Footer should not shrink */
}
