html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
  min-height: 100vh; /* Full height of the viewport */
  background-color: var(--color4); /* Very Pale Lilac */
  display: flex;
  flex-direction: column;
}

app-navbar {
  flex-shrink: 0;
}

app-homedescription {
  flex-grow: 1; /* Allows it to expand */
}

app-footer {
  margin-top: auto; /* Pushes the footer to the bottom */
  flex-shrink: 0; /* Prevents the footer from shrinking */
}