.form-container .form-title {
  color: var(--color1); /* Deep Twilight Blue */
  text-align: center;
  margin-bottom: 10px;
}

.form-container .form-subtitle {
  color: var(--color1); /* Soft Periwinkle Blue */
  text-align: center;
  margin-bottom: 20px;
}

.form-container {
  background-color: var(--color4); /* Very Pale Lilac */
  padding: 20px;
  border-radius: 8px;
  margin: 20px auto;
  max-width: 500px; /* Optimal width for form */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for labels */
.form-container label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  color: var(--color1); /* Deep Twilight Blue */
  font-size: 1rem;
}

/* Style for input fields and select box */
.form-container .form-control {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ddd; /* Light grey border */
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* Style for error messages */
.form-container .alert.alert-danger {
  color: #f44336; /* Red color for errors */
  font-size: 0.875rem;
  margin-top: 5px;
}

/* Style for the submit button */
.form-container .btn-primary {
  background-color: var(--color1); /* Deep Twilight Blue */
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-container .btn-primary:hover {
  background-color:var(--color3); /* Slightly darker on hover */
}

/* Style for the login navigation button */
.form-container button {
  background: none;
  border: none;
  color: var(--color1); /* Light Lavender */
  cursor: pointer;
  padding: 10px;
}

.form-container button:hover {
  text-decoration: underline;
}
