<div>
    <form #addMilestoneForm="ngForm">
        <label for="id"> id :</label>
        <input id 
            required 
            type="text" 
            [(ngModel)]="milestone.id" 
            name="id"
            class="form-control"
            id="id"
            #id="ngModel">
        <div class="alert alert-danger" *ngIf="!id.valid && id.touched">
            le id est obligatoire
        </div>

        <label for="roadmapid"> roadmapid :</label>
        <input roadmapid 
            required 
            type="text" 
            [(ngModel)]="milestone.roadmap.id" 
            name="roadmapid"
            class="form-control"
            id="roadmapid"
            #roadmapid="ngModel">
        <div class="alert alert-danger" *ngIf="!roadmapid.valid && roadmapid.touched">
            le roadmapid est obligatoire
        </div>

        <label for="quizQuizID"> quizQuizID :</label>
        <input quizQuizID 
            required 
            type="text" 
            [(ngModel)]="milestone.quiz.id" 
            name="quizQuizID"
            class="form-control"
            id="quizQuizID"
            #quizQuizID="ngModel">
        <div class="alert alert-danger" *ngIf="!quizQuizID.valid && quizQuizID.touched">
            le quizQuizID est obligatoire
        </div>

        <label for="title"> title :</label>
        <input title 
            required 
            type="text" 
            [(ngModel)]="milestone.id" 
            name="title"
            class="form-control"
            id="title"
            #title="ngModel">
        <div class="alert alert-danger" *ngIf="!title.valid && title.touched">
            le title est obligatoire
        </div>

        <label for="orderNumber"> orderNumber :</label>
        <input orderNumber 
            required 
            type="number" 
            [(ngModel)]="milestone.orderNumber" 
            name="orderNumber"
            class="form-control"
            id="orderNumber"
            #orderNumber="ngModel">
        <div class="alert alert-danger" *ngIf="!orderNumber.valid && orderNumber.touched">
            le orderNumber est obligatoire
        </div>
        <label for="description"> description :</label>
        <input description 
            required 
            type="text" 
            [(ngModel)]="milestone.description" 
            name="description"
            class="form-control"
            id="description"
            #description="ngModel">
        <div class="alert alert-danger" *ngIf="!description.valid && description.touched">
            le description est obligatoire
        </div>
        
        <button [disabled]="addMilestoneForm.invalid" class="btn btn-primary" (click)="addMilestone()"> add milestone </button>
    </form>
</div>