<button (click)="showComponent('addRoadmap')">add roadmap</button>
<button (click)="showComponent('addMilestone')">add milestones</button>
<button (click)="showComponent('addQuestion')">add questions</button>
<br>
<button (click)="showComponent('getRoadmaps')">get roadmaps</button>
<button (click)="showComponent('getMilestones')">get milestones</button>
<button (click)="showComponent('getQuestions')">get questions</button>
<button (click)="showComponent('getQuizes')">get quizes</button>
<button (click)="showComponent('getUsers')">get users</button>

<app-add-data [apiEndpoint]="apiEndpoint" [fields]="fields" *ngIf="isContentActive('addRoadmap')"></app-add-data>
<app-add-data [apiEndpoint]="apiEndpoint" [fields]="fields" *ngIf="isContentActive('addMilestone')"></app-add-data>
<app-add-data [apiEndpoint]="apiEndpoint" [fields]="fields" *ngIf="isContentActive('addQuestion')"></app-add-data>

<app-json-table [apiEndpoint]="apiEndpoint" *ngIf="isContentActive('getRoadmaps')"></app-json-table>
<app-json-table [apiEndpoint]="apiEndpoint" *ngIf="isContentActive('getMilestones')"></app-json-table>
<app-json-table [apiEndpoint]="apiEndpoint" *ngIf="isContentActive('getQuestions')"></app-json-table>
<app-json-table [apiEndpoint]="apiEndpoint" *ngIf="isContentActive('getQuizes')"></app-json-table>
<app-json-table [apiEndpoint]="apiEndpoint" *ngIf="isContentActive('getUsers')"></app-json-table>