.admin-panel {
  display: flex;
}

.sidebar-menu {
  flex-basis: 200px; /* Adjust the width as necessary */
  flex-shrink: 0;
  padding: 20px;
  background-color: var(--color2); /* Soft Periwinkle Blue */
  color: white;
  height: 100%; /* Full height */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.sidebar-menu button.active {
  background-color: var(--color1); 
  color: white;

}

.sidebar-menu button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: var(--color4); /* Very Pale Lilac */
  color: var(--color1); /* Deep Twilight Blue */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar-menu button:hover {
  background-color: var(--color3); /* Light Lavender */
}

.content-area {
  flex-grow: 1;
  padding: 20px;
}

.content-area .content-title {
  font-size: 1.5rem;
  color: var(--color1); /* Deep Twilight Blue */
  margin-bottom: 20px;
  text-align: center;
}
