.roadmap-item {
  position: relative;
  border: 1px solid var(--color2);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  max-width: 500px;
  margin: 1rem auto;
  background-color: #fff;
}

.roadmap-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.roadmap-image {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}
.roadmap-name-container {
  display: flex;
  justify-content: center; /* Center the title */
  align-items: center;
  position: relative; /* Positioning context for the absolute button */
  padding: 12px;
  background-color: var(--color1);
}

.roadmap-name {
  flex-grow: 1; /* Grow to use available space */
  text-align: center; /* Center the text */
  font-weight: bold;
  font-size: 1rem;
  color: #fff;
}

.subscribe-button {
  position: absolute; /* Position absolutely to the right */
  top: 50%; /* Align vertically */
  right: 12px; /* Distance from the right */
  transform: translateY(-50%); /* Center vertically */
  background: none;
  color: #fff;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  border: none;
}

.subscribe-button:hover {
  background-color: var(--color2);
}

.subscribe-button i {
  display: block;
  font-size: 1.5rem; /* Adjust size as needed */
}
