<div class="container p-4 my-4">
    <div class="row">
      <div class="col-md-6">
        <h2>Welcome to Our Learning Platform</h2>
        <p>
          Our platform offers a wide range of structured learning paths in DevOps, AI, Security, and Development. Whether you're a beginner or an expert, you can find valuable resources to enhance your skills.
        </p>
        <p>
          At our platform, we believe in lifelong learning. Our team of experts and educators is dedicated to providing you with the latest knowledge and skills needed to succeed in today's fast-paced world.
        </p>
        <p>
          With our easy-to-follow learning roadmaps, you can dive into various domains, complete quizzes to test your knowledge, and track your progress along the way. Our community of learners and mentors is here to support you in your learning journey.
        </p>
        <p>
          Join us today and embark on a path to continuous growth and success. Let's learn together!
        </p>
        <a routerLink="/signup" class="cta-button btn mt-3">Get Started</a>
      </div>
      <div class="col-md-6">
        <app-moving-images></app-moving-images>
      </div>
    </div>
  </div>
  